{% extends "admin/change_list.html" %}
{% block object-tools %}
    <ul class="object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
                {{ block.super }}
            {% endif %}
            {% if module_name == "No Election Page Feedback" %}
                <li><a href='{% url "admin:no_election_feedback_export_all" %}' class="import_link">Export All</a></li>
            {% else %}
                <li><a href='{% url "admin:feedback_export_all" %}' class="import_link">Export All</a></li>
                <li><a href='{% url "admin:feedback_export_comments" %}' class="import_link">Export with comments</a></li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}
