interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://developers.democracyclub.org.uk/api/v1/postcode/EC1A%204EU/?include_current=1
  response:
    body: {string: '{
  "address_picker": false,
  "addresses": [],
  "dates": [{
    "date": "2017-06-08",
    "polling_station": {
      "polling_station_known": false
    },
    "ballots": [
      {
      "ballot_paper_id": "parl.cities-of-london-and-westminster.2017-06-08"
       
      }
    ]
  }],
  "electoral_services": {
    "council_id": "STO",
    "name": "Stroud District Council",
    "email": "elections@stroud.gov.uk",
    "phone": "01453 754886",
    "website": "http://www.stroud.gov.uk/",
    "postcode": "GL5 4UB",
    "address": "Electoral Registration Officer\nEbley Mill\nWestward Road\nStroud",
    "identifiers": [
      "E07000082"
    ],
    "nation": "England"
  },
  "registration": {
    "council_id": "STO",
    "name": "Stroud District Council",
    "email": "elections@stroud.gov.uk",
    "phone": "01453 754886",
    "website": "http://www.stroud.gov.uk/",
    "postcode": "GL5 4UB",
    "address": "Electoral Registration Officer\nEbley Mill\nWestward Road\nStroud",
    "identifiers": [
      "E07000082"
    ],
    "nation": "England"
  },
  "postcode_location": {
    "type": "Feature",
    "properties": null,
    "geometry": {
      "type": "Point",
      "coordinates": [
        -2.20260988,
        51.74391142000001
      ]
    }
  }
}'}
    headers:
      Allow: ['GET, OPTIONS']
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://wheredoivote.co.uk/api/beta/postcode/EC1A%204EU.json?auth_token=DCINTERNAL-WHO-SYM-LOCAL&include_current=1
  response:
    body: {string: '{"polling_station_known":false,"postcode_location":{"geometry":{"point":{"type":"Point","coordinates":[-0.0969942,51.5169862]}},"type":"Feature"},"custom_finder":null,"council":{"url":"https://wheredoivote.co.uk/api/beta/councils/E09000001/","council_id":"E09000001","council_type":"LBO","name":"City
        of London Corporation","email":"electoralservices@cityoflondon.gov.uk","phone":"0800
        587 5537","website":"http://www.cityoflondon.gov.uk/","postcode":"EC2P 2EJ","address":"Electoral
        Registration Officer\nPO Box 270\nGuildhall"},"polling_station":null,"addresses":[]}'}
    headers:
      Allow: ['GET, HEAD, OPTIONS']
      Content-Language: [en]
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
