{% load i18n %}

{% url "home_view" as home_view_url %}
{% if postelection.cancelled %}
    <div class="ds-status-message" >
        {% blocktrans trimmed with time_since=postelection.election.election_date|timesince %}
            This election was scheduled to happen {{ time_since }} ago.
            <a href="{{ home_view_url }}">Enter your postcode</a>
            to find upcoming elections in your area.
        {% endblocktrans %}
    </div>
{% else %}
    <div class="ds-status-message" >
        {% blocktrans trimmed with time_since=postelection.election.election_date|timesince %}
            This election happened {{ time_since }} ago.
            <a href="{{ home_view_url }}">Enter your postcode</a>
            to find upcoming elections in your area.
        {% endblocktrans %}
    </div>
{% endif %}
