{% load i18n %}
{% load postcode_tags %}
{% load humanize %}

<li>
    <details open class="ds-stack-smaller">
        <summary>
            <h2 id='register'>
                <span aria-hidden="true"></span>
                {% blocktrans trimmed %}Register to vote{% endblocktrans %}
            </h2>
        </summary>

        <p>
            {% blocktrans trimmed %}
                You need to be registered in order to vote.
                If you aren't registered to vote visit
                <a href="https://www.gov.uk/register-to-vote">
                    https://www.gov.uk/register-to-vote
                </a>
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with registration_deadline=card.registration_deadline|naturalday:"j F Y" election_date=card.election_date|naturalday:"j F Y" %}
                Register before midnight on {{ registration_deadline }} to vote on {{ election_date }}.
            {% endblocktrans %}
        </p>
        {% if council.council_id %}
            <p>
                {% blocktrans trimmed %}
                    Send your postal and proxy vote applications to your local electoral registration team. You can also contact them to find out if you’re on the electoral register, and if you already have a postal or proxy vote.
                {% endblocktrans %}
            </p>
            {% include "elections/includes/_contact_details_registration.html" %}
        {% endif %}

    </details>
</li>
