{% load i18n %}
{% load postcode_tags %}
{% load humanize %}

<li>
    <details open>
        <summary>
            <h2 id='register'>
                <span aria-hidden="true"></span>
                {% blocktrans trimmed %}Register to vote{% endblocktrans %}
            </h2>
        </summary>

        <p>
            {% blocktrans trimmed %}
                You need to be registered in order to vote.
                If you aren't registered to vote visit
                <a href="https://www.gov.uk/register-to-vote">
                    https://www.gov.uk/register-to-vote
                </a>
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with registration_deadline=card.registration_deadline|naturalday:"j F Y" election_date=card.election_date|naturalday:"j F Y" %}
                Register before midnight on {{ registration_deadline }} to vote on {{ election_date }}.
            {% endblocktrans %}
        </p>
        {% if council.council_id %}
            <p>
                {% blocktrans trimmed %}
                    For questions about your poll card, polling place, or about returning your postal voting ballot, contact your council.
                {% endblocktrans %}
            </p>
            {% include "elections/includes/_contact_details_registration.html" %}
        {% endif %}

    </details>
</li>
