{% load markdown_filter %}
{% load humanize %}
{% load static %}
{% load i18n %}

<li>
    <details open>
        <summary>
            <h2 id="requirements">
                <span aria-hidden="true"></span>
                {% trans "You will need to take photo ID to vote at a polling station in this election" %}
            </h2>
        </summary>
        {% if requires_voter_id == "EFA-2002" %}
            <p>{% trans "Read more about" %}
                <a href="https://www.eoni.org.uk/Vote/Voting-at-a-polling-place">
                    {% trans "voting in Northern Ireland" %}</a>
            </p>
        {% else %}
            <p>
                {% trans "You do not need your poll card to vote." %}
                {# 2026 pilots - delete condition after May 2026 #}
                {% if not advance_hubs and not polling_day_hubs %}
                    {% trans "You must vote at your assigned polling station." %}
                {% endif %}
            </p>
            <ul>
                <li>{% trans "Read more about" %}
                    <a href="https://www.gov.uk/voting-in-the-uk/polling-stations">
                        {% trans "voting in Great Britain" %}</a>.
                </li>
                <li>{% trans "Read more about" %}
                    <a href="https://www.gov.uk/how-to-vote/photo-id-youll-need">
                        {% trans "photo ID" %}</a>.
                </li>
            </ul>

            {% if not postelections.0.past_vac_application_deadline %}
                <p>
                    {% trans "If you do not have a photo ID that allows you to vote, you can" %}
                    <a href="https://www.gov.uk/apply-for-photo-id-voter-authority-certificate">
                        {% trans "apply for a Voter Authority Certificate" %}</a>
                    {% if postelections.0.vac_application_deadline %}
                        {% blocktrans trimmed with vac_application_deadline=postelections.0.vac_application_deadline|naturalday:"j F Y" %}
                            before {{ vac_application_deadline }}
                        {% endblocktrans %}
                    {% endif %}
                </p>
            {% endif %}

        {% endif %}

    </details>
</li>
