{% load humanize %}
{% load i18n %}

{% if object.current_or_future_candidacies %}
  <h2 class="ds-h3">{% trans "That's all we know! Will you help us find more about this candidate?" %}</h2>
  <p>
    {% trans 'Our volunteers have been working hard to add information on as many candidates as possible, but they need help.' %}
  </p>
  <p>
    {% trans 'If you can add information to this page' %}
    {% blocktrans trimmed with person=object.name%} - such as {{ person }}'s {% endblocktrans %}
    {% if not object.has_social_media_account %} {% trans "social media accounts," %}{% endif %}
    {% trans "policy statement or contact information -"%}
    {% trans 'please use our crowdsourcing website.' %}
  </p>
  <a href="{{ object.get_ynr_url }}update/" class="ds-cta ds-cta-blue">{% trans 'Add or edit details &raquo;' %}</a>

  <h3 class="ds-h4">{% trans 'Upload your leaflets' %}</h3>
  <p>
    {% blocktrans trimmed with person=object.name%} If you've received election leaflets from {{ person }}, please take a photo
      of them and upload them to ElectionLeaflets.org {% endblocktrans %}
  </p>
  <a href="https://electionleaflets.org/" class="ds-cta ds-cta-blue">{% trans 'Add leaflets &raquo;' %}</a>
{% endif %}
