
{% load markdown_filter %}

    {# fmt:off #}
{% filter markdown %}
Members of the Legislative Assembly (MLAs) are elected by, and represent the people of, Northern Ireland. MLAs pass laws and examine policy on transferred matters like health, education, the environment, social work and housing. They scrutinise the work of Ministers and hold Executive (Government) Departments to account.

Every MLA has an office in their constituency to enable them to provide a constituency service. They meet with constituents, listen to their views and act on their behalf to resolve problems. MLAs can contact relevant bodies and can raise the profile of an issue in the media. They communicate with their constituents by email, telephone, letter and social media.


[Read more about your MLAs](https://www.niassembly.gov.uk/about-the-assembly/how-the-assembly-works/about-your-mlas/)

{% endfilter %}
