{% load markdown_filter %}

    {# fmt:off #}
{% filter markdown %}
Police and crime commissioners are elected in areas of England and Wales to make sure that local police meet the needs of the community.

They are responsible for:

* how your area is policed
* the police budget
* the amount of Council Tax charged for the police
* the information you get about what the local police are doing
* appointing and dismissing the chief constable (the most senior police officer for the area)

{% endfilter %}
