{% load markdown_filter %}

    {# fmt:off #}
{% filter markdown %}
When the Senedd is sitting, Members meet twice a week in the Siambr, the debating chamber, to question Welsh Government Ministers, examine proposed laws, and debate various issues. Members also participate in committees that focus on areas such as health and education, examining laws and government policies that could impact these sectors. These committees are composed of Members reflecting the overall representation of the elected parties.

Most Members have a local office in their constituency or region, employing staff to assist with constituent enquiries. They hold regular 'surgeries' where the public can meet with their representatives to discuss concerns. Additionally, Members engage with constituents online or over the phone, and visit businesses, schools, and local organisations to gain insight into everyday issues, which they may later address in the Senedd.


[Read more about the Senedd](https://senedd.wales/how-we-work/about-members-of-the-senedd/)

[Find more about your Senedd members](https://senedd.wales/find-a-member-of-the-senedd/?Postcode={{ postcode }})


{% endfilter %}
