{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}
The directly elected Mayor provides leadership and direction to the borough and the Council and has overall
responsibility for council policy and the delivery of services.

The elected Mayor has a mandate to represent the whole borough and will speak on its behalf locally, regionally,
nationally and internationally.  It will be for them to decide how this role will work in practice, within the
boundaries set out in the Council’s Constitution.

[Find more about the mayor's role](https://www.croydon.gov.uk/council-and-elections/mayors-croydon/elected-mayor-croydon/role-elected-mayor#lgd-guides__title)


{% endfilter %}
