{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}

The role of the Mayor of Cambridgeshire and Peterborough is to deliver economic prosperity across the region, to
make Cambridgeshire and Peterborough a leading place in the world to live, learn,
work and do business.

The Mayor oversees a £20 million annual budget devolved from government, and also has devolved powers to spend up to
£800 million on local housing, infrastructure and jobs.

[Find more about the mayor's role](https://cambridgeshirepeterborough-ca.gov.uk/about-us/mayor/)


{% endfilter %}
