{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}

The Mayor has responsibility for transport, skills and adult education, housing and land, net-zero and economic
development.

As the Chair of the East Midlands Combined County Authority, the Mayor works with partners across the region and
beyond to deliver transformational change for the East Midlands.

The Mayor also acts as a champion for the region, influencing Government at a national level to boost growth and
innovation, shape policy and access further funding.

[Find more about the mayor's role](https://www.eastmidlands-cca.gov.uk/the-mayor/)


{% endfilter %}
