{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}

Accountable to and representing the people of all 10 boroughs in Greater Manchester, the Mayor steers the work of
Greater Manchester’s Combined Authority, focusing on issues such as the economy, transport, police, and fire
services. The Mayor's responsibilities include transforming public services and shaping the region's future while
making the case for Greater Manchester at the heart of government and on the world stage. The Mayor chairs the
Combined Authority, with the leaders of the 10 councils forming the Mayor’s Cabinet, and is supported by a Deputy
Mayor for Policing and Crime, and a Deputy Mayor for Economic Growth and Business.

The Mayor sets budgets and priorities for Greater Manchester’s public services and acts as an ambassador for the
region. Responsibilities include managing the transport budget from the Government, overseeing the future of bus
services, acting as the public’s voice on policing matters, making strategic decisions about the fire service, and
managing a £300 million housing investment fund. While the Mayor can make some decisions independently, others
require consultation with, and approval from, all 11 members of the Greater Manchester Combined Authority, with some
decisions needing unanimous support and others requiring a majority.

[Find more about the mayor's role](https://www.greatermanchester-ca.gov.uk/the-mayor/)


{% endfilter %}
