{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}
Metro Mayors are directly elected by the people in their area and chair their Combined Authority. The Metro Mayor
exercises the powers and functions devolved from government, set out in the local area’s devolution deal.

The UK government has devolved a range of powers and responsibilities to the Liverpool City Region Combined
Authority and the Mayor of the Liverpool City Region. These include:

* Apprenticeships
* Business growth, innovation and support
* Children’s services
* Culture and tourism
* Employment and skills
* Energy and environment
* Some taxes and finance
* Health and social care
* Housing and planning
* Justice
* Transport

[Find more about the mayor's role](https://www.liverpoolcityregion-ca.gov.uk/your-metro-mayor)


{% endfilter %}
