{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}
The Mayor is directly elected and appoints a Cabinet to lead on decision-making across the Council. Their
responsibilities include:

* overall budget, strategy and policy responsibility
* trade unions
* service transformation
* Bakerloo line extension
* inward investment
* London Councils, Local Government Association and key stakeholder relationships
* Lewisham Strategic Partnership (LSP)
* communications
* Young Mayor's programme


[Find more about the mayor's role](https://lewisham.gov.uk/mayorandcouncil/mayor)


{% endfilter %}
