

{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}
The Mayor of Middlesbrough leads the Middlesbrough Council and represents the borough at local, regional, and national levels. The Mayor's responsibilities include setting strategic priorities, overseeing economic development, and managing budgets for public services. The Mayor also works to improve transportation, housing, education, and community safety. Additionally, the Mayor engages with residents, businesses, and other stakeholders to address local issues and promote the well-being of the community. The role involves both independent decision-making and collaboration with the council and other local authorities.

[Find more about the council](https://www.middlesbrough.gov.uk/council-and-democracy/about-the-council/)


{% endfilter %}
