{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}


The role of the Elected Mayor is to :

* be the Authority’s principal public spokesperson
* give overall political direction to the Authority
* appoint the Cabinet and Deputy Mayor
* decide on the scheme of delegation for Cabinet functions
* chair meetings of the Cabinet
* represent the Authority on such external executive bodies as the Elected Mayor decides

[Find more about the mayor's role](https://my.northtyneside.gov.uk/category/613/about-elected-mayor)


{% endfilter %}
