{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}

Combined authorities allow a group of local authorities to pool appropriate responsibility and receive certain
devolved functions from central government in order to deliver transport and economic policy more effectively over a
wider area. The mayor is the leader of the North East Mayoral Combined Authority and has responsibility for:

* housing and regeneration
* education, skills and training
* the adult education budget
* the functional power of competence
* housing and planning, including mayoral development areas and corporations, land and acquisition powers
* finance, through council precepts and business rate supplements
* transport, including bus grants and franchising powers

[Find more about the mayor's role](https://www.northeast-ca.gov.uk/about/the-mayor)


{% endfilter %}
