{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}

The City Mayor leads the council and has overall responsibility for the delivery of all council services.

They develop budgets to meet the needs of the city's residents, through the city plan, make
sure the work of the council is conducted in accordance with the constitution and the law and that all decisions are
open, transparent and understandable.

[Find more about the mayor's role](https://www.salford.gov.uk/cmrole)


{% endfilter %}
