{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}
The Mayor is elected to represent 1.4 million residents in the region. The Mayor acts to promote South Yorkshire as
a place to live, work, visit and invest.

The MCA has powers and funding which are used to help create jobs, grow the economy, up-skill the workforce, support
the public transport network and develop new infrastructure and homes in South Yorkshire. Many decisions are made by
the MCA and Mayor together, but the Mayor can make some decisions independently.

[Find more about the mayor's role](https://www.southyorkshire-ca.gov.uk/about-the-mayor/role)


{% endfilter %}
