{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}
The Mayor's primary role is to steer the work of the Tees Valley Combined Authority, which drives economic growth
and job creation in the area. The Combined Authority is distinct from local councils, which continue to deliver
local services independently. As part of a Devolution Deal, Tees Valley elected a Mayor to act as a single point of
accountability to both local people and central Government. Devolution provides more control over local budgets,
enabling the region to design services and boost the economy by reinvesting money back into the community.

The Mayor sets budgets and priorities for economic development, acts as an ambassador to attract investment, and
oversees a £588 million Tees Valley Investment Plan. The Mayor also chairs the South Tees Development Corporation
(STDC) Board, which promotes economic growth and commercial development in the Tees Valley. This includes converting
assets in the South Tees area, now known as Teesworks, into opportunities for business investment and economic
growth.

[Find more about the mayor and combined authority](https://teesvalley-ca.gov.uk/about/leadership/mayor/what-the-mayor-does/)


{% endfilter %}
