{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}
The Mayor has oversight for the following services and activities that fall within the Mayor and Cabinet Member
Portfolios – Decision Making powers are as set out in the Executive Scheme of Delegation in the Constitution


* Strategy and performance
* Co-ordination of policy development and implementation
* Council transformation and continuous improvement
* Emergency planning & business continuity
* Strategic partnerships
* Tower Hamlets strategic partnership and the Community Plan
* Oversight of community building and asset policy
* Oversight of relationships with external partners
* Communications
* Oversight of Budget strategy
* Town Hall strategy
* Regeneration strategy
* Regeneration Board
* Inequality


[Find more about the mayor's role](https://democracy.towerhamlets.gov.uk/mgExecPostDetails.aspx?ID=604)


{% endfilter %}
