{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}

The West Yorkshire Combined Authority brings together the local authorities of Bradford, Calderdale, Kirklees, Leeds
and Wakefield. It develops and delivers policies, programmes and services which directly
benefit the people of West Yorkshire.

The Mayor of West Yorkshire is a directly elected mayor responsible for the metropolitan county of West Yorkshire in
England. The Mayor chairs and leads the West Yorkshire Combined Authority, and assumes the office and powers of the
West Yorkshire Police and Crime Commissioner.


[Find more about the mayor's role](https://www.westyorks-ca.gov.uk/about-us/)


{% endfilter %}
