{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}
The role of the mayor is to work alongside local leaders to
create a long-term vision, secure more investment into
the region.

The Mayor has certain powers and responsibilities, devolved to them by central government.

These include:

* Responsibility for 30-year Mayoral Investment Fund and the powers to borrow against funds
* Full devolution of the Adult Education Budget
* Powers to improve the supply and quality of housing and secure the development of land or infrastructure
* Powers and funds to improve transport through a consolidated, devolved, multi-year transport settlement
* Responsibilities for community safety and the powers to appoint a Deputy Mayor who will carry out many of the duties currently held by the Police, Fire and Crime Commissioner


[Find more about the mayor's role](https://yorknorthyorks-ca.gov.uk/meet-your-mayor/)


{% endfilter %}
