{% load i18n %}

<li>
    <a href="{{ manifesto.canonical_url }}" rel="noopener noreferrer">
        {% blocktrans trimmed with manifesto_country=manifesto.country %}
            Manifesto for {{ manifesto_country }}
        {% endblocktrans %}
        {% if manifesto.canonical_url != manifesto.pdf_url %}{% trans "website" %}{% endif %}
        {% if manifesto.language != "English" %}{% blocktrans with manifesto_language=manifesto.language %} in {{ manifesto_language }}{% endblocktrans %}{% endif %}
        {% if manifesto.canonical_url == manifesto.pdf_url %}(PDF){% endif %}
    </a>

</li>
{% if manifesto.pdf_url and manifesto.canonical_url != manifesto.pdf_url %}
    <li>
        <a href="{{ manifesto.pdf_url }}" rel="noopener noreferrer">{% trans "PDF Version" %}</a>
    </li>
{% endif %}
{% if manifesto.easy_read_url %}
    {% if manifesto.language == "English"%}
        <li>
            <a href="{{ manifesto.easy_read_url }}">{% trans "Easy Read version" %}</a>
        </li>
    {% else %}
        <li>
            <a href="{{ manifesto.easy_read_url }}">{% blocktrans with manifesto_language=manifesto.language %}Easy Read version in {{ manifesto_language }}{% endblocktrans %}</a>
        </li>
    {% endif %}
{% endif %}
