{% extends "base.html" %}
{% load dc_forms %}
{% load i18n %}
{% load static %}

{% block base_title %}{% trans "Who Can I Vote For?" %}{% endblock base_title %}
{% block og_title_content %}{% trans "Who Can I Vote For?" %}{% endblock og_title_content %}

{% block content %}

    <h1 class="ds-h2 ds-text-centered" style="text-wrap: balance">
        {% if latest_winners %}
            Find out about candidates and results in your area
        {% else %}
            {% trans "Find out about candidates in your area" %}
        {% endif %}
    </h1>
    <div class="ds-field ds-text-centered">
        <form method="post">
            {% csrf_token %}
            {{ form|dc_form }}
            {% if request.GET.invalid_postcode %}
                <p>
                    <strong>{% blocktrans trimmed with postcode=request.GET.postcode %}Sorry, we don't know the postcode
                        {{ postcode }}.
                        Is there another one you can try?{% endblocktrans %}</strong>
                </p>
            {% endif %}
            <button class="ds-button-pink" type="submit">{% trans "Find your candidates" %}</button>
            {#            <p>{% trans "A parliamentary general election has been called for 4 July. Enter your postcode to find your constituency and candidates." %}</p>#}
            {#            <p>{% trans "A new set of constituency boundaries will be used for the 2024 election. This means that your constituency may have changed since the last election." %}</p>#}
            {#            <p>{% trans "You will need to show photo ID to vote at a polling station in these elections." %}</p>#}

        </form>
    </div>
    {% include "parl_24_hex_map.html" %}

    {% if latest_winners %}

        <h2>Latest winners</h2>
        <ul class="ds-stack">
            {% for latest_winner in latest_winners %}
                <div class="ds-candidate">
                    <div class="ds-candidate-body ds-stack-smallest">
                        <h3 class="ds-candidate-name ds-h5">
                            <a href="{{ latest_winner.person.get_absolute_url }}">{{ latest_winner.person.name }}</a>
                        </h3>
                        <div class="ds-h6">{{ latest_winner.party_name }}</div>
                        <div class="ds-h6">{{ latest_winner.post.label }}</div>
                    </div>
                    <div class="ds-candidate-image" style="min-width:10em">
                        {% if latest_winner.person.photo_url %}
                            <img src="{{ latest_winner.person.photo_url }}"
                                 alt="{% blocktrans trimmed with person_name=latest_winner.person.name %}Photo of {{ latest_winner.person.name }}{% endblocktrans %}">
                        {% else %}
                            <img src="{% static '/people/images/blank-avatar.png' %}"
                                 alt="Blank Head icons created by Freepik - Flaticon" style="background-color: #ddd;">
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        </ul>
        <a href="{% url "parl_24_winners_full" %}" class="ds-cta">See all </a>
    {% endif %}



    {% if show_gb_id_messaging %}
        <h2>
            <span aria-hidden="true">ℹ️</span>
            {% trans "Photographic identification" %}
        </h2>
        <p>{% trans "Photographic identification will be required to vote in English local elections, and parliamentary elections across the UK, on and after 4 May 2023." %}</p>
        <p><a href="https://www.electoralcommission.org.uk/i-am-a/voter/voter-id"
              aria-label="{% trans 'Learn more about photographic identification for voters on the website of the Electoral Commission.' %}">{% trans "Learn more on the website of the Electoral Commission." %}</a>
        </p>

        <p>{% trans "You can apply for a free 'Voter Authority Certificate' if you do not already possess a valid ID." %}</p>
        <p>
            <a href="https://www.gov.uk/apply-for-photo-id-voter-authority-certificate">{% trans "Apply for free voter ID." %}</a>
        </p>
        <p>{% trans "You do not need photo ID to vote by post." %}</p>
    {% endif %}
    {% if upcoming_elections %}

        <h2 class="ds-h3">{% trans "Upcoming Elections" %}</h2>
        {% regroup upcoming_elections by election.election_date as elections_by_date %}

        {% for election_group in elections_by_date %}
            <h3 class="ds-h4">{{ election_group.grouper|date:"jS F Y" }}</h3>
            {% regroup election_group.list by election.nice_election_name as named_postelections %}
            <ul>
                {% for election in named_postelections %}
                    <li><strong>{{ election.grouper }}{{ election.list|length|pluralize }}</strong>
                        {% for postelection in election.list %}
                            <br><a href="{{ postelection.get_absolute_url }}">{{ postelection.friendly_name }}</a>
                            {% if postelection.cancelled %}
                                {{ postelection.short_cancelled_message_html }}
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}


    <h2>In your area</h2>
    <p>As well as your new MP, there are others who represent you in your area.
        We're working on a new experimental feature to explain who these people are and how everything
        from your council to your
        police force works.</p>
    <a href="{% url "your_area_view" %}" class="ds-cta">Try it now</a>
{% endblock content %}
