{% load markdown_filter %}

{# fmt:off #}
{% filter markdown %}
Members of Parliament (MPs) represent your interests and concerns in the House of Commons.

MPs consider and can propose new laws as well as raising issues that matter to you in the House. This includes asking government
ministers questions about current issues including those which affect local constituents.

MPs split their time between working in Parliament itself, working in the constituency that elected them and working
for their political party.

[Find out more about MPs](https://www.parliament.uk/about/mps-and-lords/members/mps/)
{% endfilter %}
