{% extends "base.html" %}
{% load i18n %}

{% block page_title %}Boundary Reviews{% endblock page_title %}
{% block page_meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <h2>Boundary Changes in your area</h2>
    <div class="ds-stack">
        <p>{% trans "Some intro text explaining that boundaries are changing in your area and that they may or may not affect you" %}</p>
        {% for review in boundary_reviews %}
            <div class="ds-stack-smaller">
                <h3>{{review.organisation_official_name}} has new boundaries</h3>
                <p>
                    Text explaining the review: organisation affected, effective date, link to consultation, etc
                </p>
                {% for change in review.boundary_changes %}
                    {% with change_scenario=change.change_scenario map_element_id_start=review.id|add:"-"|add:change.division_type %}
                        {% if change_scenario == "NO_CHANGE" %}
                            <div class="ds-stack-smaller">
                                <h4>Your constituency/region is staying the same</h4>
                                <p>
                                    NO_CHANGE explanation text
                                </p>
                                <h4>Map</h4>
                                <div id="{{map_element_id_start}}-{{change_scenario}}-map" class="ds-map-maplibre"></div>
                            </div>
                        {% elif change_scenario == "BOUNDARY_CHANGED"%}
                            <div class="ds-stack-smaller">
                                <h4>Your constituency/region's boundaries are changing</h4>
                                <p>
                                    BOUNDARY_CHANGED explanation text
                                </p>
                                <h4>Map</h4>
                                <div id="{{map_element_id_start}}-{{change_scenario}}-map" class="ds-map-maplibre"></div>
                            </div>
                        {% elif change_scenario == "NAME_CHANGED"%}
                            <div class="ds-stack-smaller">
                                <h4>Your constituency/region's name is changing</h4>
                                <p>
                                    NAME_CHANGED explanation text
                                </p>
                                <h4>Map</h4>
                                <div id="{{map_element_id_start}}-{{change_scenario}}-map" class="ds-map-maplibre"></div>
                            </div>
                        {% elif change_scenario == "BOTH_CHANGED"%}
                            <div class="ds-stack-smaller">
                                <h4>Your constituency/region's name and boundaries are changing</h4>
                                <p>
                                    BOTH_CHANGED explanation text
                                </p>
                                <h4>Map</h4>
                                <div id="{{map_element_id_start}}-{{change_scenario}}-map" class="ds-map-maplibre"></div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
{% block extra_javascript %}
    {{ block.super }}
    {{ boundary_reviews|json_script:"boundaryReviewsData" }}
    {{ postcode_location|json_script:"postcodeLocation" }}
    {{ nation|json_script:"nation" }}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/maplibre-gl/5.7.3/maplibre-gl.css" integrity="sha512-IylZQnfgxyZ4rs0/u4TjuOthOSWKwh47nrCPuscGnyidnt1mrhKdja/uUxfvkLaMusDAWV3DgKHHpfzNdTdGhw==" crossorigin=""/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/maplibre-gl/5.7.3/maplibre-gl.js" integrity="sha512-4qLefPK7TDle+A82wrHOa/B75+B8HH0w6Zwu6YaoXxwBrLl8tQ7UmoyS0PCWOobcq3fFe51G+AN+jVZpwN5qOw==" crossorigin=""></script>
    <script src="//unpkg.com/pmtiles@4.4.0/dist/pmtiles.js" integrity="sha256-SqjwRpVddxFvwcm7cbxJ0XRlQ0KvjxKEqjTGJccf1nY=" crossorigin=""></script>


    <script>
        const boundaryReviewsData = JSON.parse(document.getElementById('boundaryReviewsData').textContent);
        const postcodeLocation = JSON.parse(document.getElementById('postcodeLocation').textContent);
        const nation = JSON.parse(document.getElementById('nation').textContent);

        let protocol = new pmtiles.Protocol();
        maplibregl.addProtocol("pmtiles",protocol.tile);

        const style = {
            "version": 8,
            "sources": {
                "os": {
                    "type": "raster",
                    "tiles": [
                        "https://tile.openstreetmap.org/{z}/{x}/{y}.png"
                    ],
                    "tileSize": 256,
                    "attribution": "© OpenStreetMap contributors"
                }
            },
            layers: [
                {
                    "id": "os-baselayer",
                    "type": "raster",
                    "source": "os",
                    "minzoom": 0,
                    "maxzoom": 19
                }
            ]
        }
        const addPmtilesURLtoProtocol = (pmtilesURL) => {
            p = new pmtiles.PMTiles(pmtilesURL);
            protocol.add(p);
        };

        const extractDivisonsetID = (pmtilesURL) => {
            return pmtilesURL.split("/").at(-1).split('_')[1]
        }

        const getBounds = (features) => {
            let bounds;
            features.forEach(feature => {
                // Handle both Polygon and MultiPolygon geometries
                let coords = feature.geometry.coordinates;
                // For Polygon: [ [ [lng, lat], ... ] ]
                // For MultiPolygon: [ [ [ [lng, lat], ... ] ], ... ]
                if (feature.geometry.type === 'Polygon') {
                    coords = coords[0];
                } else if (feature.geometry.type === 'MultiPolygon') {
                    // Flatten all rings of all polygons
                    coords = coords.flat(2);
                }
                if (!coords || !coords.length) return;
                if (!bounds) {
                    bounds = new maplibregl.LngLatBounds(coords[0], coords[0]);
                }
                coords.forEach(coord => {
                    bounds.extend(coord);
                });
            });
            return bounds
        }

        boundaryReviewsData.forEach(review => {
            review.boundary_changes.forEach(change => {
                let mapElementID = `${review.id}-${change.division_type}-${change.change_scenario}-map`

                if (document.getElementById(mapElementID) != null) {
                    const map = new maplibregl.Map({
                        container: mapElementID,
                        style: style,
                        center: [-4.3, 55],
                        zoom: 4.4
                    });

                    let OLD_PMTILES_URL, oldDivisionsetID;

                    if ( nation === "Scotland" && (change.change_scenario === "BOUNDARY_CHANGED" || change.change_scenario === "BOTH_CHANGED")) {
                        OLD_PMTILES_URL = change.old_divisionset_pmtiles_url;
                        oldDivisionsetID = extractDivisonsetID(OLD_PMTILES_URL)
                        addPmtilesURLtoProtocol(OLD_PMTILES_URL)
                    }

                    const NEW_PMTILES_URL = change.new_divisionset_pmtiles_url;
                    const newDivisionsetID = extractDivisonsetID(NEW_PMTILES_URL)
                    addPmtilesURLtoProtocol(NEW_PMTILES_URL)


                    map.on('load', () => {

                        map.addSource('new_division_set', {
                            "type": "vector",
                            "url": `pmtiles://${NEW_PMTILES_URL}`
                        });

                        map.addLayer({
                            "id": "new_division_set_layer_fill",
                            "type": "fill",
                            "source": "new_division_set",
                            "source-layer": `${newDivisionsetID}_${change.division_type}`,
                            "paint": {
                                "fill-color": "#007CAD",
                                "fill-opacity": 0.1
                            }
                        });

                        map.addLayer({
                            "id": "new_division_set_layer_line",
                            "type": "line",
                            "source": "new_division_set",
                            "source-layer": `${newDivisionsetID}_${change.division_type}`,
                            "paint": {
                                "line-color": "#007CAD",
                                "line-opacity": 0.4,
                                "line-width": 4,
                            }
                        });

                        map.setFilter("new_division_set_layer_fill", ['==', ["get", "division__official_identifier"], change.new_division_official_identifier])
                        map.setFilter("new_division_set_layer_line", ['==', ["get", "division__official_identifier"], change.new_division_official_identifier])

                        if ( nation === "Scotland" && (change.change_scenario === "BOUNDARY_CHANGED" || change.change_scenario === "BOTH_CHANGED")) {
                            map.addSource('old_division_set', {
                                "type": "vector",
                                "url": `pmtiles://${OLD_PMTILES_URL}`
                            });

                            map.addLayer({
                                "id": "old_division_set_layer_line",
                                "type": "line",
                                "source": "old_division_set",
                                "source-layer": `${oldDivisionsetID}_${change.division_type}`,
                                "paint": {
                                    "line-color": "#E6007C",
                                    "line-width": 2,
                                }
                            });

                            map.setFilter("old_division_set_layer_line", ['==', ["get", "division__official_identifier"], change.old_division_official_identifier]);
                        };
                    })

                    map.once('idle', () => {
                        const layers = ["new_division_set_layer_line"]
                        if ( nation === "Scotland" && (change.change_scenario === "BOUNDARY_CHANGED" || change.change_scenario === "BOTH_CHANGED")) {
                            layers.push("old_division_set_layer_line")
                        }

                        const features = map.queryRenderedFeatures({layers: layers});
                        bounds = getBounds(features)

                        if (bounds) {
                            map.fitBounds(bounds, {padding: 20, duration: 0, });
                        };

                        let marker = new maplibregl.Marker().setLngLat(postcodeLocation.geometry.coordinates).addTo(map)
                        let nav = new maplibregl.NavigationControl();
                        map.addControl(nav, 'top-right');

                    });
                };
            });
        });
    </script>
{% endblock %}