{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Boundary Reviews"%}{% endblock page_title %}
{% block page_meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block extra_site_css%}
    {{ block.super }}
    <style>
        div[class$="-map-legend"] {
            display: none;
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 10px;
            border-radius: 3px;
            width: auto;
            border: 1px solid rgba(0, 0, 0, 0.4);
            background-color: rgb(255, 255, 255);
            padding: 4px;
            gap: 2px;
        }

        .map-legend-row {
            display: flex;
            align-items: center;
        }

        .map-legend-colour {
            width: 24px;
            height: 24px;
            border: 2px solid #000;
            margin-right: 4px;
            border-radius: 3px;
        }
    </style>
{% endblock extra_site_css%}

{% block content %}
    <h2>{% trans "Boundary Changes in your area" %}</h2>
    <div class="ds-stack">
        <p>{% trans "There's been a boundary review in your area. Please see below for details." %}</p>
        <p> {% trans "Looking for election information?"%} <a href="{% url 'postcode_view' postcode %}">{% trans "Find elections in your area" %}</a>.</p>
        {% for review in boundary_reviews %}
            <div class="ds-stack-smaller">
                <h3>{% blocktrans trimmed with org_name=review.organisation_official_name %} {{ org_name }} has new boundaries{% endblocktrans %}</h3>
                {% if nation == "Scotland" %}
                    {% blocktrans trimmed %}
                        <p>
                            A new set of constituency and regional boundaries will be used for the 2026 Scottish parliament elections.
                            The boundaries of all constituencies and regions have been reviewed by the independent organisation
                            <a href="https://www.boundaries.scot/reviews/reviews-historical-reviews/scottish-parliament-boundaries/reviews-second-review-scottish-parliament-boundaries/">
                                Boundaries Scotland
                            </a>,
                            to take account of population changes since 2011.
                        </p>
                        <p>
                            This means that your constituency or region may have changed shape or name since the last election, or you may be in a new constituency or region.
                        </p>
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans trimmed %}
                        <p>
                            The way you vote has changed. When voting for your Members of the Senedd, you will now vote on one ballot paper, instead of two as previously.
                            You will vote once for a single party or independent candidate, and seats will be allocated using proportional representation.
                            Party candidates will be elected in the order they appear on their party list.
                        </p>

                        <p>
                            These changes mean that you will have a new constituency. Each constituency will elect six members, and the overall number of Senedd members is increasing from 60 to 96.
                            Senedd elections will happen every four years.
                        </p>
                        <p>
                            <a href="https://senedd.wales/how-we-work/our-role/senedd-election-and-member-changes/">Learn more about the Senedd changes</a>.
                        </p>
                    {% endblocktrans %}
                {% endif %}
                {% for change in review.boundary_changes %}
                    {% with change_scenario=change.change_scenario map_element_id_start=review.id|add:"-"|add:change.division_type  division_unit=change.division_unit%}
                        {% if change_scenario == "NO_CHANGE" %}
                            <div class="ds-stack-smaller">
                                {% blocktrans trimmed with division_unit_cap=division_unit|capfirst %}
                                    <h4>Your {{division_unit_cap}} has not changed</h4>
                                    <p>
                                        Your {{division_unit}} has not been significantly affected by the boundary review.
                                        Whilst there may have been minor adjustments to the boundary, no areas have been added or removed,
                                        and its name is unchanged from the last election.
                                    </p>
                                {% endblocktrans %}
                                <h4>{% trans "Map" %}</h4>
                                <div id="{{map_element_id_start}}-{{change_scenario}}-map" class="ds-map-maplibre">
                                    <div class="{{map_element_id_start}}-{{change_scenario}}-map-legend"></div>
                                </div>
                            </div>
                        {% elif change_scenario == "BOUNDARY_CHANGED"%}
                            <div class="ds-stack-smaller">
                                {% blocktrans trimmed with division_unit_cap=division_unit|capfirst %}
                                    <h4>Your {{division_unit_cap}} has changed shape</h4>
                                    <p>
                                        Your {{division_unit}}, [name], has changed shape since the last election.
                                        View the map below to understand these changes.
                                        Your {{division_unit}}’s name has not been changed.
                                    </p>
                                {% endblocktrans %}
                                <h4>{% trans "Map" %}</h4>
                                <div id="{{map_element_id_start}}-{{change_scenario}}-map" class="ds-map-maplibre">
                                    <div class="{{map_element_id_start}}-{{change_scenario}}-map-legend"></div>
                                </div>

                            </div>
                        {% elif change_scenario == "NAME_CHANGED"%}
                            <div class="ds-stack-smaller">
                                {% blocktrans trimmed with division_unit_cap=division_unit|capfirst %}
                                    <h4>Your {{division_unit_cap}} has a new name</h4>
                                    <p>
                                        At the last parliamentary election your {{division_unit}} was [name].
                                        It has been renamed [new name].
                                        The {{division_unit}}’s boundaries have not been significantly changed.
                                    </p>
                                {% endblocktrans %}
                                <h4>{% trans "Map" %}</h4>
                                <div id="{{map_element_id_start}}-{{change_scenario}}-map" class="ds-map-maplibre">
                                    <div class="{{map_element_id_start}}-{{change_scenario}}-map-legend"></div>
                                </div>
                            </div>
                        {% elif change_scenario == "BOTH_CHANGED"%}
                            <div class="ds-stack-smaller">
                                {% if nation == "Wales" %}
                                    {% blocktrans %}
                                        <p>
                                            Your new constituency is [new_name]. View your new constituency on the map below.
                                        </p>
                                    {% endblocktrans %}
                                {% else %}
                                    {% blocktrans trimmed with division_unit_cap=division_unit|capfirst date=review.effective_date|date:"j M Y"%}
                                        <h4>Your {{division_unit_cap}} has changed</h4>
                                        <p>
                                            At the last election your {{division_unit}} was [name].
                                            On {{date}} it will be [new name].
                                            View the map below to understand these changes.
                                        </p>
                                    {% endblocktrans %}
                                {% endif %}
                                <h4>{% trans "Map" %}</h4>
                                <div id="{{map_element_id_start}}-{{change_scenario}}-map" class="ds-map-maplibre">
                                    <div class="{{map_element_id_start}}-{{change_scenario}}-map-legend"></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
{% block extra_javascript %}
    {{ block.super }}
    {{ boundary_reviews|json_script:"boundaryReviewsData" }}
    {{ postcode_location|json_script:"postcodeLocation" }}
    {{ nation|json_script:"nation" }}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/maplibre-gl/5.7.3/maplibre-gl.css" integrity="sha512-IylZQnfgxyZ4rs0/u4TjuOthOSWKwh47nrCPuscGnyidnt1mrhKdja/uUxfvkLaMusDAWV3DgKHHpfzNdTdGhw==" crossorigin=""/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/maplibre-gl/5.7.3/maplibre-gl.js" integrity="sha512-4qLefPK7TDle+A82wrHOa/B75+B8HH0w6Zwu6YaoXxwBrLl8tQ7UmoyS0PCWOobcq3fFe51G+AN+jVZpwN5qOw==" crossorigin=""></script>
    <script src="//unpkg.com/pmtiles@4.4.0/dist/pmtiles.js" integrity="sha256-SqjwRpVddxFvwcm7cbxJ0XRlQ0KvjxKEqjTGJccf1nY=" crossorigin=""></script>


    <script>
        const boundaryReviewsData = JSON.parse(document.getElementById('boundaryReviewsData').textContent);
        const postcodeLocation = JSON.parse(document.getElementById('postcodeLocation').textContent);
        const nation = JSON.parse(document.getElementById('nation').textContent);

        let protocol = new pmtiles.Protocol();
        maplibregl.addProtocol("pmtiles",protocol.tile);

        const style = {
            "version": 8,
            "sources": {
                "os": {
                    "type": "raster",
                    "tiles": [
                        "https://tile.openstreetmap.org/{z}/{x}/{y}.png"
                    ],
                    "tileSize": 256,
                    "attribution": "© OpenStreetMap contributors"
                }
            },
            layers: [
                {
                    "id": "os-baselayer",
                    "type": "raster",
                    "source": "os",
                    "minzoom": 0,
                    "maxzoom": 19
                }
            ]
        }
        const addPmtilesURLtoProtocol = (pmtilesURL) => {
            p = new pmtiles.PMTiles(pmtilesURL);
            protocol.add(p);
        };

        const extractDivisonsetID = (pmtilesURL) => {
            return pmtilesURL.split("/").at(-1).split('_')[1]
        }

        const getBounds = (features) => {
            let bounds;
            features.forEach(feature => {
                // Handle both Polygon and MultiPolygon geometries
                let coords = feature.geometry.coordinates;
                // For Polygon: [ [ [lng, lat], ... ] ]
                // For MultiPolygon: [ [ [ [lng, lat], ... ] ], ... ]
                if (feature.geometry.type === 'Polygon') {
                    coords = coords[0];
                } else if (feature.geometry.type === 'MultiPolygon') {
                    // Flatten all rings of all polygons
                    coords = coords.flat(2);
                }
                if (!coords || !coords.length) return;
                if (!bounds) {
                    bounds = new maplibregl.LngLatBounds(coords[0], coords[0]);
                }
                coords.forEach(coord => {
                    bounds.extend(coord);
                });
            });
            return bounds
        }

        const addRowToLegend = (fillColour, borderColour, description, legendDiv) => {
            row = document.createElement('div')
            row.className = "map-legend-row"

            rowColour = document.createElement('span')
            rowColour.className = "map-legend-colour"
            rowColour.style.backgroundColor = fillColour
            rowColour.style.borderColor = borderColour

            rowDescription = document.createElement('span')
            rowDescription.className = "map-legend-description"

            rowDescription.textContent = description

            row.appendChild(rowColour)
            row.appendChild(rowDescription)
            legendDiv.appendChild(row)
        }

        boundaryReviewsData.forEach(review => {
            review.boundary_changes.forEach(change => {
                let mapElementID = `${review.id}-${change.division_type}-${change.change_scenario}-map`
                let mapLegendDivClass = `${review.id}-${change.division_type}-${change.change_scenario}-map-legend`

                if (document.getElementById(mapElementID) != null) {
                    const map = new maplibregl.Map({
                        container: mapElementID,
                        style: style,
                        center: [-4.3, 55],
                        zoom: 4.4
                    });

                    let OLD_PMTILES_URL, oldDivisionsetID, showOldBoundary;

                    if  ( nation === "Scotland" && (change.change_scenario === "BOUNDARY_CHANGED" || change.change_scenario === "BOTH_CHANGED")) {
                        showOldBoundary = true
                    }

                    if ( showOldBoundary ) {
                        OLD_PMTILES_URL = change.old_divisionset_pmtiles_url;
                        oldDivisionsetID = extractDivisonsetID(OLD_PMTILES_URL)
                        addPmtilesURLtoProtocol(OLD_PMTILES_URL)
                    }

                    const NEW_PMTILES_URL = change.new_divisionset_pmtiles_url;
                    const newDivisionsetID = extractDivisonsetID(NEW_PMTILES_URL)
                    addPmtilesURLtoProtocol(NEW_PMTILES_URL)


                    map.on('load', () => {
                        if ( showOldBoundary ) {
                            map.addSource('old_division_set', {
                                "type": "vector",
                                "url": `pmtiles://${OLD_PMTILES_URL}`
                            });

                            map.addLayer({
                                "id": "old_division_set_layer_line",
                                "type": "line",
                                "source": "old_division_set",
                                "source-layer": `${oldDivisionsetID}_${change.division_type}`,
                                "layout": {
                                    "line-miter-limit": 1,
                                },
                                "paint": {
                                    "line-color": "#5d5c5cd0",
                                    "line-blur": 1,
                                    "line-width": [
                                        "interpolate",
                                        ["linear"],
                                        ["zoom"],
                                        7,
                                        3,
                                        9,
                                        4,
                                        12,
                                        5,
                                        14,
                                        6
                                    ],
                                }
                            });

                            map.addLayer({
                                "id": "old_division_set_layer_fill",
                                "type": "fill",
                                "source": "old_division_set",
                                "source-layer": `${oldDivisionsetID}_${change.division_type}`,
                                "paint": {
                                    "fill-color": "#a4a6a6d0",
                                    "fill-opacity": 0.8
                                }
                            });


                            map.setFilter("old_division_set_layer_line", ['==', ["get", "division__official_identifier"], change.old_division_official_identifier]);
                            map.setFilter("old_division_set_layer_fill", ['==', ["get", "division__official_identifier"], change.old_division_official_identifier]);
                        };

                        map.addSource('new_division_set', {
                            "type": "vector",
                            "url": `pmtiles://${NEW_PMTILES_URL}`
                        });


                        map.addLayer({
                            "id": "new_division_set_layer_line",
                            "type": "line",
                            "source": "new_division_set",
                            "source-layer": `${newDivisionsetID}_${change.division_type}`,
                            "layout": {
                                "line-miter-limit": 1,
                            },
                            "paint": {
                                "line-color": "#E6007C",
                                "line-blur": 1,
                                "line-width": [
                                    "interpolate",
                                    ["linear"],
                                    ["zoom"],
                                    7,
                                    1,
                                    9,
                                    2,
                                ],
                            }
                        });

                        if (!showOldBoundary) {
                            map.addLayer({
                                "id": "new_division_set_layer_fill",
                                "type": "fill",
                                "source": "new_division_set",
                                "source-layer": `${newDivisionsetID}_${change.division_type}`,
                                "paint": {
                                    "fill-color": "#E6007C",
                                    "fill-opacity": 0.2
                                },
                            })
                            map.setFilter("new_division_set_layer_fill", ['==', ["get", "division__official_identifier"], change.new_division_official_identifier])
                        }

                        map.setFilter("new_division_set_layer_line", ['==', ["get", "division__official_identifier"], change.new_division_official_identifier])

                    })

                    map.once('idle', () => {
                        const layers = ["new_division_set_layer_line"]
                        if ( showOldBoundary ) {
                            layers.push("old_division_set_layer_line")
                        }

                        const features = map.queryRenderedFeatures({layers: layers});
                        bounds = getBounds(features)

                        if (bounds) {
                            map.fitBounds(bounds, {padding: 20, duration: 0, });
                        };

                        let marker = new maplibregl.Marker().setLngLat(postcodeLocation.geometry.coordinates).addTo(map)
                        let nav = new maplibregl.NavigationControl();
                        map.addControl(nav, 'top-right');
                        // Only show the legend if there are multiple layers to show
                        if (layers.length > 1) {
                            mapLegendDiv = document.getElementsByClassName(mapLegendDivClass)[0]
                            mapLegendDiv.style.display = "grid";
                            layers.forEach(layer => {
                                if (layer.startsWith("new")) {
                                    var fillColour = null
                                    var borderColour = "#E6007C"
                                    var description = "New Boundary"
                                } else {
                                    var fillColour = "#a4a6a6d0"
                                    var borderColour = "#5d5c5cd0"
                                    var description = "Old Boundary"
                                }
                                addRowToLegend(fillColour, borderColour, description, mapLegendDiv)
                            });
                        }
                    });
                };
            });
        });
    </script>
{% endblock %}