{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="ds-with-sidebar">
        <div>
            <div class="ds-sidebar" style="flex-basis: 10rem">
                {% if party.emblem_url %}
                    <img src="{{ party.emblem_url }}" alt="{{ party_name }} {% trans 'emblem' %}">
                {% endif %}
            </div>
            <div class="ds-not-sidebar">

                <h2>{{ party_name }}</h2>
                <h4>
                    {% with ballot_url=ballot.get_absolute_url election_url=ballot.election.get_absolute_url %}
                        <a href="{{ election_url }}">{{ ballot.election.nice_election_name }}</a>
                        {% if not ballot.is_pcc and not ballot.is_mayoral %}
                            : <a href="{{ ballot_url }}">{{ ballot.friendly_name }}</a>
                        {% endif %}
                    {% endwith %}
                </h4>
                {% if local_party %}
                    <dl class="ds-descriptions" style="border-style:none;">
                        <div>

                            {% if local_party.facebook_page %}
                                <dt>Facebook</dt>
                                <dd>
                                    <a href="{{ local_party.facebook_page }}" title="{% blocktrans trimmed with party_name=local_party.name %}{{ party_name }}'s Facebook profile{% endblocktrans %}">
                                        {{ local_party.facebook_page }}
                                    </a>
                                </dd>
                            {% endif %}
                            {% if local_party.instagram %}
                                <dt>Instagram</dt>
                                <dd>
                                    <a href="{{ local_party.instagram }}" title="{% blocktrans trimmed with party_name=local_party.name %}{{ party_name }}'s Instagram profile{% endblocktrans %}">
                                        {{ local_party.instagram }}
                                    </a>
                                </dd>
                            {% endif %}
                            {% if local_party.bluesky %}
                                <dt>Bluesky</dt>
                                <dd>
                                    <a href="{{ local_party.bluesky }}" title="{% blocktrans trimmed with party_name=local_party.name %}{{ party_name }}'s Bluesky profile{% endblocktrans %}">
                                        {{ local_party.bluesky }}
                                    </a>
                                </dd>
                            {% endif %}
                            {% if local_party.homepage %}
                                <dt>{% trans "Home page" %}</dt>
                                <dd>
                                    <a href="{{ local_party.homepage }}" title="{% blocktrans trimmed with party_name=local_party.name %}{{ party_name }}'s home page{% endblocktrans %}">
                                        {{ local_party.homepage }}
                                    </a>
                                </dd>
                            {% endif %}

                            {% if local_party.email %}
                                <dt>{% trans "Email" %}</dt>
                                <dd><a href="mailto:{{ local_party.email }}">{{ local_party.email }}</a></dd>
                            {% endif %}
                        </div>
                    </dl>
                {% endif %}

                {% if national_party %}
                    <dl class="ds-descriptions" style="border-style:none;">
                        <div>

                            {% if national_party.homepage %}
                                <dt>{% trans "Home page" %}</dt>
                                <dd>
                                    <a href="{{ national_party.homepage }}" title="{% blocktrans trimmed with party_name=local_party.name %}{{ party_name }}'s home page{% endblocktrans %}">
                                        {{national_party.homepage }}
                                    </a>
                                </dd>
                            {% endif %}

                            {% if national_party.email %}
                                <dt>{% trans "Email" %}</dt>
                                <dd><a href="mailto:{{ national_party.email }}">{{ local_party.email }}</a></dd>
                            {% endif %}

                            {% if national_party.facebook_page %}
                                <dt>Facebook</dt>
                                <dd>
                                    {% if national_party.facebook_page %}
                                        <a href="{{ national_party.facebook_page }}" title="{% blocktrans trimmed with party_name=local_party.name %}{{ party_name }}'s Facebook profile{% endblocktrans %}">
                                            {{ national_party.facebook_page }}
                                        </a>
                                    {% endif %}
                                </dd>
                            {% endif %}
                        </div>
                    </dl>
                {% endif %}
            </div>
        </div>
    </div>
    {% if not ballot.election.in_past %}
        <div>
            <p>
                {% blocktrans trimmed with party_name=party.party_name %} This is the list for {{ party_name }}. In this election you will vote for a party, or an independent candidate.
                    Each candidate is ranked by the party, and they will be elected in order of their ranking. For example,
                    if this party win two seats in this division, the first two candidates in the list will be elected. {% endblocktrans %}
            </p>
        </div>
    {% endif %}
    {% if manifesto %}
        <div>
            <h3>{% trans "Party manifesto" %}</h3>
            <p>
                {% blocktrans trimmed with party_name=party.party_name manifesto=manifesto|safe %}Find out more about this party in the {{ party_name }} {{ manifesto }}.{% endblocktrans %}
            </p>
        </div>
    {% endif %}
    {% if local_party %}
        {% if local_party.twitter %}
            <h3>{% trans "Latest tweets" %}</h3>
            <div class="twitter_container">
                <a data-width="100%" data-height="500" class="twitter-timeline" href="https://twitter.com/{{ object.twitter_username }}">
                    {% trans "Tweets by" %} @{{ object.twitter_username }}</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        {% endif %}
    {% endif %}

    <h3>{% trans "Candidates" %}</h3>
    <ul class="ds-grid" style="--gridCellMin: 25ch">
        {% for person in person_posts %}
            {% include "elections/includes/_person_card.html" with person_post=person in_party_list=True %}
        {% endfor %}
    </ul>

{% endblock %}
